name: Build Android APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install system dependencies
      run: |
        sudo apt update
        sudo apt install -y \
          openjdk-17-jdk \
          unzip zip \
          libncurses6 \
          libncurses-dev

    - name: Install Buildozer
      run: |
        pip install --upgrade pip
        pip install buildozer cython

    - name: Build APK
      run: |
        - name: HARD RESET buildozer cache
      run: |
        rm -rf ~/.buildozer
        rm -rf .buildozer

        buildozer android debug


